/*Starting code for Project 3- Index w/ Media Queries*/
img {
  max-width:100%;
}

body {
  font-family: Verdana;
  background: linear-gradient(to top ,black, grey);
  margin:0;
  padding:0;
}

header, nav, main, footer{
   border-radius:5px;
}

header {
    grid-area:header;
    background:black;
    text-align:center;
}

.headerpic {
  grid-area:headerpic;
  padding:5px;
  height:10vmax;
}

.headertext {
  grid-area:headertext;
  text-align:center;
}

.headerwrapper {
  display:grid;
  justify-items:center;
  align-items:center;
  grid-template-columns:25% auto;
  grid-template-areas:
  "headerpic headertext";
}

header h1 {
     font-size:5vw;
     color:orange;
     font-family:Impact;
     text-shadow: 2px 2px 5px #3217ff;
     margin: 0;
}

header h3 {
    font-size:3vw;
    color:white;
    margin:0;
}
nav {
    grid-area:nav;
    background:black;
    }

nav li {
    padding:10px 10px;
    list-style-type:none;
    font-size:1.5em;
    font-weight:bold;
}

nav a {
    text-decoration:none;
    color:orange;
}
nav a:hover {
    text-shadow: 2px 2px 5px #3217ff;
}

main {
    grid-area:main;
    background:black;
    color:#8A8AFF;
    padding:5px;
    }

main h1 {
  margin:1.5%;
  font-size:1.5em;
  color:black;
}

main h2 {
    text-align:center;
    margin:1.5%;
    font-size:2em;
}

main h3{
    margin:1.5%;
  font-size:1.5em;
  color:blue;
}

main p {
    color:white;
    padding:1% 2%;
    font-size:1em;
}

main a {
 color:orange;
}

section h1{
  margin:1.5%;
  font-size:1.5em;
  color:white;
}

aside {
  grid-area:aside;
  background-color:white;
  fontcolor:blue;
  
}

aside h2 {
  margin:1.5%;
  color:black;
  text-align:center;
  
}

aside h1{
  color:orange;
}

aside li {
  color:blue;
  font-size:1.25em;
  padding:10px;
}


aside a {
  color:#0000b0;
}

article {
  color: #FFFFFF;
  background-color: #0000b0;
  text-align: center;
}

article h2 {
  color: #FFFFFF;
  text-align:center;
  background-color: #0000b0;
}

.top {
  grid-area:top;
}

.middle {
  grid-area: middle;
}

.bottom {
  grid-area: bottom;
}

.studypic {
  margin:auto;
}


footer {
    grid-area:footer;
    background:black;
    padding:5px;
    text-align:center;
    }

footer p {
     font-size:1em;
     color:orange;
     margin:0;
}

section {
  grid-area:section;
}

.fig1 {
  grid-area:fig1;
}

.fig2 {
  grid-area:fig2;
  background-color:#FFFFFF;
}

figure {
  margin:0;
  text-align:center;
}

figcaption {
  padding:5px;
  color:#0000b0;
  font-weight:bold;
}

figure img {
  margin-top:16px;
  max-width:20em;
  border: 2px solid #0000b0;
}


audio {
 max-width: 100%;
}
video {
  max-width:  100%;
  height:auto;
}


.video, .audio {
    margin:0;
    display: grid;  /*This needs to be set or it won't center*/
    justify-content:space-around;
}

form {
    background-color:#1c259b;
    color:white;
    width:90%;
    margin:auto;
    color:white;
    padding:10px;
}

input {
  margin: 1px 0 10px 0;
}

.call {
    border-radius:5px;
    text-align:center;
    background-color:#FFFFFF;
    width:60%;
    padding: 5px;
    margin:10px auto 0 auto;
}
 .call p{
    color:#1c259b;
    font-size:1.5em;
    padding:0;
    margin:0;
}
.button {
  background-color:lightblue;
  color:#0000b0;
  font-weight:bold;
}

.first {
  grid-area:first;
  margin-left:0;
}
.second {
  grid-area:second;
}

.third{
  grid-area:third;
}

.fourth{
  grid-area:fourth;
}


.fifth{
  grid-area:fifth;
}

.sixth{
  grid-area:sixth;
}

.c {
  grid-area:c;
  padding:20px;
  margin:1.5%;
  font-size:1.25em;
  color:orange;
}

.d {
  grid-area:d;
  padding:20px;
  margin:1.5%;
  font-size:1.25em;
  color:orange;
}


.e {
  grid-area:e;
  padding:20px;
  margin:1.5%;
  font-size:1.25em;
  color:black;
  background:#B57500;
}

.plumb{
  width:50%;
  margin-left:20%;
}


/*---------------------------Mobile Layout----------------------------*/
.container1 { /*for index.html*/
  grid-template-columns:auto 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    }

.container2 { /*for about.htm*/
  display: grid;
  grid-template-columns:auto 1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    }


.container3 { /*for giveback.htm*/
  display: grid;
  grid-template-columns:auto 1fr 1.5fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header"
    "nav main top"
    "nav main middle"
    "nav main bottom"
    "footer footer footer";
}

.container4{ /*for services.htm*/
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
  "header"
  "nav"
  "main"
  "c"
  "d"
  "footer";
}

.container5{ /*for plans.htm*/
  display:grid;
  grid-gap:.5em;
  margin:1%;
grid-template-columns:1fr 1fr;
grid-template-areas:
"header"
"nav"
"main"
"e"
"footer";
}

.container6 { /*for contact.htm*/
  grid-template-columns:auto 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    }

.navwrapper {
  display:grid;
  grid-template-areas:
  "first"
  "second"
  "third"
  "fourth"
  "fifth"
  "sixth";
}

/*This stuff is for the hamburger menu*/
.toggleNav {
    display:grid; /*This is what allows the hamburger icon and "Menu" to display*/
    text-align:center;
    font-size:1.5em;
    font-weight:bold;
    padding:10px;
    }

#flex-nav ul {
    display: none; /*jQuery toggles the nav from to this class to the .open when clicked*/
    text-align:center;
    list-style: none;
    margin: 0;
    padding: 0;
    }
 
#flex-nav ul.open { /*.open is the class that gets toggled when clicked (with help from the jQuery code)*/
    display:grid;
    }
    
#flex-nav li {
    padding-left:10px;
    padding-top:10px;
    }
    
    
.container3 { /*for blog.html*/
  display: grid;
  grid-template-columns:100%;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "top"
    "middle"
    "bottom"
    "footer";
}


.nestedgrid{
display:grid;
grid-template-columns:100%;
grid-template-areas:
"section"
"fig1";
}
.nestedgrid2 {
display:grid;
grid-template-columns:100%;
grid-template-areas:
"div1"
"div2";
}

    
  /*-----------------------Tablet Media Query------------------------*/
@media only screen and (min-width: 480px)  {

.container1 { /*for index.html*/
  grid-template-columns:auto 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    }

.container2 { /*for about.htm*/
  display: grid;
  grid-template-columns:auto 1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    }


.container3 { /*for giveback.htm*/
  display: grid;
  grid-template-columns:auto 1fr 1.5fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header header header"
    "nav main top"
    "nav main middle"
    "nav main bottom"
    "footer footer footer";
}

.container4{ /*for services.htm*/
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
  "header header"
  "nav nav"
  "main main"
  "c d"
  "footer footer";
}

.container5{ /*for plans.htm*/
  display:grid;
  grid-gap:.5em;
  margin:1%;
grid-template-columns:1fr 1fr;
grid-template-areas:
"header header"
"nav nav"
"main e"
"footer footer";
}

.container6 { /*for contact.htm*/
  grid-template-columns:auto 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    }

.navwrapper {
  display:grid;
  grid-template-areas:
  "first"
  "second"
  "third"
  "fourth"
  "fifth"
  "sixth";
}



.nestedgrid {
display:grid;
grid-template-columns:100%;
grid-template-areas:
"section"
"fig1";
}
.nestedgrid2 {
display:grid;
grid-template-columns:100%;
grid-template-areas:
"div1"
"div2";
}
}

/*-----------------------Desktop Media Query------------------------*/
@media only screen and (min-width: 960px)  {
/* Below will change from hamburger menu to side navigation*/
  
.toggleNav {
    display: none; /*Makes the hamburger icon with the word "Menu" to disappear at this screen size*/
  }
  
#flex-nav ul {
    display:grid;
    text-align:left;
  }

#flex-nav li {
    padding-left:10px;
    padding-top:10px;
  }
.navwrapper {
  display:grid;
  grid-template-areas:
  "first second third fourth fifth sixth";
}


.container1 { /*for index.html*/
  grid-template-columns:auto 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    }

.container2 { /*for about.htm*/
  display: grid;
  grid-template-columns:auto 1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    }

.container3 { /*for giveback.htm*/
  display: grid;
  grid-template-columns:auto 1fr 1.5fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header header header"
    "nav main top"
    "nav main middle"
    "nav main bottom"
    "footer footer footer";
}

.container4{ /*for services.htm*/
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
  "header header"
  "nav nav"
  "main main"
  "c d"
  "footer footer";
}

  
.container5{ /*for plans.htm*/
  display:grid;
  grid-gap:.5em;
  margin:1%;
grid-template-columns:1fr 1fr;
grid-template-areas:
"header header"
"nav nav"
"main e"
"footer footer";
}

.container6 { /*for contact.htm*/
  grid-template-columns:auto 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    }

.nestedgrid {
display:grid;
grid-template-columns:1fr 1fr;
grid-template-areas:
"section fig1";
}
.nestedgrid2 {
display:grid;
grid-template-columns:1fr 1fr;
grid-template-areas:
"div1 div2";
}
}